*.env
Backend/env.env
.idea/dataSources.xml
datasets
Backend/target/
logs/WorkerSemaphore2.log
logs/WorkerSemaphore2.log.lck
WorkerSemaphore2.log
pickroute_FRUIT.ser
pickroute_FREEZE.ser
/Backend/src/main/java/gruppe01/ntnu/no/Warehouse/Workflow/Assigner/machinelearning/testData/
