/* color palette from <https://github.com/vuejs/theme> */
:root {
  --background-1: #ffffff;
  --background-2: #f8f8f8;
  --background-backdrop: #f0f0f0;

  --border-1: #e0e0e0;
  --border-2: #d0d0d0;

  --text-1: #383838;
  --text-2: #7B7B7B;
  --text-inverse: #e3e3e3;

  --main-color: #E77474;
    --main-color-2: #ff9797;
    --main-color-3: #FFF2F2;

  --ready-color: #bfffab;
    --ready-color-2: #a3ff8f;

  --yellow-color: #ffebc0;
    --yellow-color-2: #ffebc0;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background-1: #1e1e1e;
    --background-2: #252526;
    --background-backdrop: #2d2d30;

    --border-1: #3c3c3c;
    --border-2: #4b4b4b;
    --text-1: #e3e3e3;
    --text-2: #c7c7c7;
    --text-inverse: #383838;

    --main-color: #E77474;
    --main-color-2: #ff9797;
    --main-color-3: #3b2f2f;

    --ready-color: #3f5438;
    --ready-color-2: #4b6a3c;

    --yellow-color: #443e32;
    --yellow-color-2: #443e32;

  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-1);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
