@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
@import './base.css';


body {
    font-family: 'Istok Web', sans-serif;
}

#app {
    background-color: #eeeeee;
    color: #000000;
}

a,
.red {
    text-decoration: none;
    color: hsl(0, 61%, 27%);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(0, 100%, 75%, 0.2);
    }
}

