@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
@import './base.css';


body {
    font-family: 'Istok Web', sans-serif; /* Apply Istok Web font */
}

#app {
    background-color: #ffffff; /* Set background to dark */
    color: #000000; /* Set text color to white */
}

a,
.green {
    text-decoration: none;
    color: hsl(0, 0%, 17%); /* Adjusted to a lighter green */
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 75%, 0.2); /* Adjusted to a lighter green */
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
        background-color: #000000; /* Set background to dark */
        color: #ffffff; /* Set text color to white */
    }

    #app {
        color: #595959; /* Set text color to white */
    }
}